# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
app/Resources/.DS_Store
app/config/.DS_Store

/vendor/
var/cache/dev/doctrine/
var/cache/dev/profiler/08/
var/cache/dev/profiler/11/
var/cache/dev/profiler/14/5d/
var/cache/dev/profiler/1e/49/
var/cache/dev/profiler/30/6f/
var/cache/dev/profiler/34/67/
var/cache/dev/profiler/36/
var/cache/dev/profiler/54/38/
var/cache/dev/profiler/6c/4c/
var/cache/dev/profiler/7e/
var/cache/dev/profiler/8f/cb/
var/cache/dev/profiler/95/
var/cache/dev/profiler/a9/
var/cache/dev/profiler/ab/
var/cache/dev/profiler/c3/46/
var/cache/dev/profiler/dd/25/
var/cache/dev/profiler/ed/19/
var/cache/dev/profiler/f0/ff/
var/cache/dev/profiler/f1/
var/cache/dev/profiler/f6/
var/cache/test/doctrine/
var/cache/test/profiler/
var/cache/test/sessions/
vendor/behat/mink-browserkit-driver/
vendor/behat/mink-goutte-driver/
vendor/behat/mink-selenium2-driver/
vendor/doctrine/orm/docs/en/_theme/
vendor/fabpot/
vendor/guzzlehttp/guzzle/build/
vendor/guzzlehttp/guzzle/docs/
vendor/guzzlehttp/guzzle/tests/
vendor/instaclick/
/var/
/vendor/behat/
/vendor/bin/
/vendor/composer/
/vendor/doctrine/
/vendor/autoload.php
/vendor/webmozart/
/var/cache/
/vendor/**/.git
/vendor/behat/behat/
/.idea/
/.DS_Store/
